.section_form_container {
  display: flex;
  width: 100%;
  height: calc(100vh - 88px);
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: auto;
  background: #131316;
}

.form_wrapper a {
  text-decoration: none;
}
