.burger_constructor {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Jet Brains Mono', serif;
}

.outter {
  display: flex;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  overflow-y: auto;
}

.element {
  display: flex;
  align-items: center;
}

.background {
  border: 2px solid rgb(0 255 255 / 50%);
  transition: border 0.3s ease;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.price {
  display: flex;
  flex-flow: row;
  align-items: center;
}
