.burger_constructor {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Jet Brains Mono', serif;
}

.outter {
  display: flex;
  align-items: center;
}

.inner {
  align-items: flex-end;
  overflow-y: auto;
}

.element {
  display: flex;
  align-items: center;
}

.background {
  background-color: aqua;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.price {
  display: flex;
  flex-flow: row;
  align-items: center;
}
