.mainContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.macronutrientContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  width: 520px;
}

.macronutrientElem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.ingredientNameText {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Jet Brains Mono', serif;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
}

.ingredientHeaderText {
  padding-left: 50px;
}
