.main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  width: 520px;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
