.main_container {
  box-sizing: border-box;
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.orderNr {
  text-align: center;
}

.status_done {
  color: #0cc;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.orderBackground {
  max-height: 312px;
  margin-bottom: 24px;
  padding-right: 8px;
  overflow-y: auto;
}

.orderBackground::-webkit-scrollbar {
  width: 8px;
}

.orderBackground::-webkit-scrollbar-track {
  background: #2f2f37;
}

.orderBackground::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 4px;
}

.orderBackground::-webkit-scrollbar-thumb:hover {
  background: #a5a5d3;
}

.rowIngredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.imageName {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px;
}

.imageBackground {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background:
    linear-gradient(#131316, #131316) padding-box,
    linear-gradient(63.18deg, #801ab2 0%, #4c4cff 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.dateOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
