.profileLayout {
  display: flex;
  flex-direction: row;
  gap: 60px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
}

.nav {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 24px;
  width: 320px;
}

.nav_link {
  padding: 0;
  text-align: left;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  color: var(--text-primary-color);
}

.subtitle {
  margin-top: 80px;
  text-align: left;
}

.contentContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 0;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
